.btn{
  background-color: $white;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  width: 60px;
  i{
    font-size: 1.5rem;
    color: $black;
    text-align: center;
    transition: all .3s ease-in-out ;
    &:nth-of-type(2){
      margin-top: -15px;
    }
    &:hover{
      color: $red;
    }
  }
  &:hover {
    i{
      color: $red;
    }
  }
}
.btn-aside{
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 25px;
  background-color: $red;
  font-size: .8em;
  transition: .3s all ease-in-out;
  &:hover{
    background-color:$black;
    color: $white;
  }
}
.btn-member {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 25px;
  background-color: $red;
  font-size: .8em;
  transition: .3s all ease-in-out;
  border: 1px solid $red;
  margin-right: 10px;
  &:hover {
    background-color: $black;
    color: $white;
  }
}
.btn-single-event-tickets {
  background-color: $red;
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  width: 250px;
  margin: 0 auto;
  text-transform: uppercase;
  transition: all .3s ease-in-out;
  &:hover {
    cursor: pointer;
    background-color: $black;
    color: $white;
  }
}