.banner{
  width: 100%;
  height: 50vh;
  background-color: $primary;
  display: flex;
  align-items: center;
}
.home {
  .banner {
    height: 100vh;
  }
}
h1{
  margin-bottom: 0;
  span{
    display: block;
  }
}
