body{
  font-family: $txt-font;
}
.wrapper{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  @include tablet {
    width: 90%;
  }
}
.footer{
  a{
    color: $white;
  }
}
a{
  text-decoration: none;
  color: $black;
  transition: all .5s ease-in-out ;
  text-transform: uppercase;
  &:hover {
    color: $red;
  }
}
img{
  display: block;
  width: 100%;
}
h1,h2,h3{
  font-family: $title-font;
  text-transform: lowercase;
}
h1{
  font-size: 6rem;
  color: $red;
}
h2{
  font-size: 3rem;
}
h3{
  font-size: 1.5rem;
}
.about,
.music,
.single-album,
.single-event{
  section{
  margin: 40px 0px;
  }
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  padding-left: 30px;
}
