.header{
  border-radius: 50px;
  position: fixed;
  top: 0;
  left: 0%;
  right: 0%;
  padding: 20px 0;
  z-index: 9999;
  height: 12%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: .3s all;

}

.logo-header{
  position: relative;
  width: 10%;
  transition: .5s all;
  
  a {  
    display: flex;
    justify-content: center;

  }

  img {
    width: 35%;
    transition: .3s all;
    cursor: pointer;
  }
}