<<<<<<< HEAD
// Fonts Variable
$title-font: 'Special Elite',cursive;
$txt-font: 'Roboto',sans-serif;
// Colors Variable
$primary:black;
$secondary:white;
$red:rgb(160, 1, 1);
=======
$title-font: 'Special Elite',cursive;
$txt-font: 'Roboto',sans-serif;

$primary : black;
$secundary: white;



$red : rgb(160, 1, 1);
>>>>>>> test
