.about{
    font-family: $title-font;
    font-size: 3rem;
    text-align: center;
    @include tablet{
        font-size: 2rem;
    }
}
.team{
    background-color: $black;
    padding: 40px 0px;
    h2, p{
        color: $white;
    }
    @include tablet{
        h2{
            text-align: center;
        }
    }
}
.info-about{
    display: flex;
    gap: 3em;
    padding: 20px 0px;
    @include tablet{
        flex-direction: column;
        align-items: center;

    }
}
.info-about:nth-of-type(2n){
        .membre-about{
            display: flex;
            align-items: flex-end;
            p{
                padding-right: 20px;
            }
        }
}
.pola{
    width:500px;
    height: 500px;
    border: 2px solid #fff;
    padding: 10px 10px 60px 10px;
    background-color: rgb(240, 243, 203);
    transition: all .3s ease-in-out;
}
.pic-about{
    border: 1px solid #000;
    width: 100%;
    height: 100%;
    overflow: hidden;
    img{
        display: block;    
      }
}
.membre-about{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.active-pola{
    transform: rotate(7.5deg) scale(1.05);
    box-shadow: -10px 0px 55px -7px #949090, 10px 0px 55px -7px #5f5e5e, 5px 5px 75px 5px rgba(0,0,0,0);
    

}