.about{
    font-family: $title-font;
    font-size: 3rem;
    text-align: center;
    @include tablet{
        font-size: 2rem;
    }
}
.team{
    background-color: $black;
    padding: 40px 0px;
    h2, p{
        color: $white;
    }
    @include tablet{
        h2{
            text-align: center;
        }
    }
}
// yp