.bands {
    .banner {
        background: url("../img/bands/gybe.jpg") center/cover;
    }
}

.bands-section {
    .bands-container {
        display: flex;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .img-part {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;

        .box-img {
            position: relative;
            // border: solid 1px rgba(0, 0, 0, 0.116);
            width: 80%;
            height: 60vh;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: .5s all ease-in-out;
            overflow: hidden;

            .genre {
                transition: .5s all;
                font-family: $title-font;
                font-size: 3rem;
                font-weight: 600;
            }

            .bands-img {
                position: absolute;
                opacity: 0;
                transition: .5s all;
                object-fit: cover;
                width: 101%;
            }

            .band-typed {
                position: absolute;
                color: $white;
                font-size: 2rem;
                font-family: $title-font;
                z-index: 21;
                inset: 5%;
            }
        }
    }

    .name-part {
        width: 40%;
        display: flex;
        align-items: center;
        
        .bands-names {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            transition: 1s;
            height: 50%;
            .box-names {
                display: flex;
                align-items: center;
                height: 100%;
                cursor: pointer;

                .band-name {
                    font-size: 1.5rem;
                    font-family: $title-font;
                }
            }
        }
    }
}