.bands {
    .banner {
        background: url("../img/bands/gybe.jpg") center/cover;

        h2 {
            color: $white;
        }
    }
}

.bands-section {
    position: relative;


    .bands-tree {
        position: absolute;
        z-index: -15;
        top: 50%;
        transform: translate(-54%, -50%);
        img {
            transform: rotate(90deg);
            width: 800px;
        }
    }

    .bands-container {
        display: flex;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .img-part {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;

        .box-img {
            position: relative;
            width: 900px;
            height: 600px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: .5s all ease-in-out;
            overflow: hidden;

            .genre {
                transition: .5s all;
                font-family: $title-font;
                font-size: 3rem;
                font-weight: 600;
            }

            .bands-img {
                position: absolute;
                width: 900px;
                height: 600px;
                opacity: 0;
                transition: .5s all;
            }

            .band-typed {
                position: absolute;
                color: $white;
                font-size: 2rem;
                font-family: $title-font;
                z-index: 21;
            }

            .band-typed:nth-of-type(1) {
                top: 20px;
                left: 40px;
            }
        }
    }

    .name-part {
        width: 40%;
        display: flex;
        align-items: center;
        
        .bands-names {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            transition: 1s;
            height: 50%;
            .box-names {
                display: flex;
                align-items: center;
                height: 100%;
                cursor: pointer;

                .band-name {
                    font-size: 1.5rem;
                    font-family: $title-font;
                }
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .bands-section {
        .name-part {
            width: 100%;
        }
    
        .img-part {
            width: 0%;
        }
    }
  }

@media screen and (max-width: 1200px) {
    .bands-section {
    
        .img-part {
            .box-img {
                width: 700px;
                height: 400px;
    
                .bands-img {
                    width: 700px;
                    height: 400px;
                }
            }
        }
    }
  }

@media screen and (max-width: 900px) {
    .bands-section {
    
        .img-part {
            .box-img {
                width: 600px;
                height: 300px;
    
                .bands-img {
                    width: 600px;
                    height: 300px;
                }
            }
        }
    }
  }