.contact {
    background-color: $black;
    h1{
        text-align: center;
    }
    h2{
        color: $white;
    }
    
    .contact-form{
        display: grid;
        grid-template-columns: repeat(2, 1fr);    
        gap: 2rem;
        padding: 0;
        div{
            width: 100%;
            input{
                height: 40px;
                width: 100%;
                border: none;
                outline: none;
                padding: 10px;
            }
            input[type=submit]{
                align-items: center;
                margin-bottom: 100px;
            }
            textarea{
                width: 100%;
                resize: vertical;
                border: none;
                outline: none;
                padding: 10px;
            }
             grid-column: 1;

            &:nth-of-type(5){
                width: 50%;
                grid-column: span 2;
                justify-self: center;
                input{
                    color: $black;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
            &:nth-of-type(4){
                grid-column: 2;
                grid-row: 1 / span 3;
               input{
                   width: 100%;
               }
            }
        }

        @include mobile {
            display: flex;
            flex-direction: column;
        }
    }
    .info-contact{
        margin: 100px auto;
        display: flex;
        color: $white;
        flex-direction: column;
        gap: 1rem;
        a{
            color: $white;
        }
        i{
            margin-right: 20px;
            font-size: 2rem;
        }
    }
    .info-contact-txt{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    iframe{
        height: 400px;
    }
}
