

.hide-scrollbar {
    overflow-y: hidden;
}

.home {
    background-color: $white;
    position: relative;
    overflow-x: hidden;

    .intro {
        position: absolute;
        background-color: black;
        width: 100vw;
        height: 100vh;
        z-index: 20000;
        display: flex;
        justify-content: center;
        align-items: center;

        .intro-box-logo {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .logo-intro {
            width: 60%;
            margin: 0px;
            opacity: 0;
            transition: 1s all ;
        }
    }

    .main {
        position: relative;


        .home-music {
            background-color: black;
            padding: 100px 0px 100px 0px;
            display: flex;
            justify-content: center;
            align-items: center;

            .banner-box {
                position: relative;
                width: 60vw;
                height: 60vh;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                .marquee {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    display: block;
                    overflow: hidden;
                    z-index: 2;
                }

                .box-marquee {
                    position: absolute;
                    display: block;
                    margin: auto auto;
                    overflow: hidden;
                    min-width: 25%;
                    left: 50%;
                    bottom: 0%;
                    transform: translate(-50%);
                    
                    h2 {
                        font-family: $txt-font;
                        color: $white;
                        text-transform: uppercase;
                        font-weight: 100;
                        font-size: 1rem;
                        display: inline-block;
                        padding-left: 100%;
                        text-align: center;
                        white-space: nowrap;
                        height: 100%;
                        line-height: 140px;
                        animation: marquee 5s linear infinite;
                    }

                }
                .marquee2 h2 {
                    animation-delay: 5s
                }

                .logo-marquee {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 17%;
                    z-index: 2;
                }

                .home-angle {
                    position: absolute;
                    width: 115%;
                    height: 115%;
                    z-index: 2;
                    transition: .3s all;

                    span {
                        color: $white;
                        font-size: 5rem;
                    }

                    span:nth-of-type(1) {
                        position: absolute;
                        left: 30px;
                        top: 10px;
                    }

                    span:nth-of-type(2) {
                        position: absolute;
                        right: 30px;
                        top: 10px;
                        transform: rotate(90deg);
                    }

                    span:nth-of-type(3) {
                        position: absolute;
                        right: 30px;
                        bottom: 5px;
                        transform: rotate(180deg);
                    }

                    span:nth-of-type(4) {
                        position: absolute;
                        left: 30px;
                        bottom: 5px;
                        transform: rotate(270deg);
                    }
                }
    

                .home-bg-video {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    inset: 0;
                    opacity: .3;
                }
            }

            .banner-box:hover > .home-angle {
                width: 100%;
                height: 100%;
            }
        }

        .blackbox{
            position: absolute;
            inset: 0;
            width: 100vw;
            height: 100vh;
            background-color: black;
            transition: .5s all;
            z-index: 2;
        }

        .banner {
            position: relative;
            padding: 0px;

            h1 {
                color: $white;
                font-weight: 300;
                margin: 0;
                font-size: 12rem; 
                text-align: left;

                span {
                    font-size: 7rem; 
                }
            }
        }
    
        .banner::before {
            content: '';
            z-index: -1;
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            background-color: $black;
            opacity: 1;
        }
    }
}
.swiper-home{
    color: $black;
    margin: 150px 0px 150px 0px;

    h2 {
        text-align: center;
        font-weight: 300;
        font-size: 5rem;
        margin-bottom: 100px;
    }

    p {
        font-family: $link-font;
        text-transform: uppercase;
        letter-spacing: .07rem;
        width: 70%;
        line-height: 20px;

    }

    .swiper-slide {
        padding: 0px 10vw 0px 10vw;
        cursor: grab;

        h3 {
            text-align: center;
        }

        p {
            text-align: center;
            width: 100%;
        }
    }

    .prev, .next {
        color: $black;
    }


}

.home-triple-card {
    background-color: $black;
    padding: 200px 0px 200px 0px;
    .home-cards {
        display: flex;
        .home-card {
            width: 500px;
            height: 1200px;
            background-repeat:no-repeat;
            position: relative;

            a {
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: white;
                transition: .3s all;
                padding: 10%;

                p {
                    text-align: center;
                    opacity: 0;
                    transition: .3s all;
                    margin-top: 20%;
                }
            }

            a:hover {
                background-color: rgba(0, 0, 0, 0.493);
            }

            a:hover p {
                opacity: 1;
            }
        }

        .home-card:nth-of-type(2) {
            margin: 200px 150px 0px 150px;
        }

        .home-card:nth-of-type(3) {
            margin-top: 400px;
        }
    }
}

@media screen and (max-width: 900px) {
    .home {

        .main {


            .home-music {
                background-color: black;
                padding:0px;
                display: flex;
                justify-content: center;
                align-items: center;
        
                .banner-box {
                    width: 100%;
                    height: 60vh;


                    .home-angle {
                        position: absolute;
                        width: 115%;
                        height: 115%;
                        z-index: 2;
                        transition: .3s all;
    
                        span {
                            display: none;
                        }
                    }
        
                }
            }

            .banner {
    
                h1 {
                    font-size: 8rem; 
    
                    span {
                        font-size: 3rem; 
                    }
                }
            }
            
        }
    }

    .home-triple-card {
        background-color: $black;
        padding: 200px 0px 200px 0px;
        .home-cards {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            .home-card {
                width: 100%;
                height: 500px;
                background-repeat:no-repeat;
                position: relative;
    
                a {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    right: 0px;
                    bottom: 0px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    transition: .3s all;
                    padding: 10%;
    
                    p {
                        text-align: center;
                        opacity: 1;
                        transition: .3s all;
                        margin-top: 20%;
                    }
                }
    
                a:hover {
                    background-color: rgba(0, 0, 0, 0.493);
                }
    
                a:hover p {
                    opacity: 1;
                }
            }
    
            .home-card:nth-of-type(2) {
                margin: 20px 0px 20px 0px;
            }
    
            .home-card:nth-of-type(3) {
                margin-top: 0px;
            }
        }
    }
}


@media screen and (max-width: 650px) {
    .home {

        .main {
            .banner {
    
                h1 {
                    font-size: 6rem; 
    
                    span {
                        font-size: 2rem; 
                    }
                }
            }
        }
    }
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}