.home {
    background-color: $white;
    position: relative;
    overflow-x: hidden;

    .intro {
        position: absolute;
        background-color: black;
        width: 100vw;
        height: 100vh;
        z-index: 20000;
        display: flex;
        justify-content: center;
        align-items: center;

        .intro-box-logo {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .logo-intro {
            width: 60%;
            margin: 0px;
            opacity: 0;
            transition: 2s all ;
        }
    }

    .hide-scrollbar {
        overflow-y: hidden;
    }

    .main {

        .banner-box {
            width: 80vw;
            height: 80vh;
            overflow: hidden;
        }
        .banner {
            position: relative;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            padding: 0px 50px 50px 0px;

            h1 {
                color: $white;
                font-weight: 300;
                margin: 0;
                font-size: 2rem;
            }
        }
    
        .banner::before {
            content: '';
            z-index: -1;
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            background-color: $black;
            opacity: 1;
        }
    }
}
.swiper-home{
    color: $black;
    margin: 150px 0px 150px 0px;

    h2 {
        text-align: center;
        font-weight: 300;
        font-size: 5rem;
        margin-bottom: 100px;
    }

    p {
        font-family: $link-font;
        text-transform: uppercase;
        letter-spacing: .07rem;
        width: 70%;
        line-height: 20px;

    }

    .swiper-slide {
        display: flex;
        justify-content: center;

        p {
            text-align: center;
        }
    }

    .prev, .next {
        color: $black;
    }


}

.home-triple-card {
    background-color: $black;
    padding: 200px 0px 200px 0px;
    .home-cards {
        display: flex;
        .home-card {
            width: 500px;
            height: 1200px;
            background-repeat:no-repeat;
        }

        .home-card:nth-of-type(2) {
            margin: 200px 150px 0px 150px;
        }

        .home-card:nth-of-type(3) {
            margin-top: 400px;
        }
    }
}