.news {
  .banner {
    .wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.content-news{
  display: flex;
  gap: 3rem;
  padding: 5% 0;
  > div:first-of-type{
    width: 70%;
  }
  @include tablet{
    flex-direction: column;
  }
}
.blog{
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  @include tablet{
    grid-template-columns: repeat(1, minmax(250px, 1fr));
  }
}


