.title_single_album, .descriptif-single-album{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.socials-single-albums{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.socials-single-album-links{
  display: flex;
  justify-content: space-around;
  a{
    font-size: 2rem;
    padding: 5px;
  }
}
.info-about{
  display: flex;
  gap: 2em;
  padding: 20px 0px;
  @include tablet{
    flex-direction: column;
    align-items: center;
  }
}
.about-single-album{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pic-single-album{
  width: 50%;
  img{
    display: block;
    width: 100%;
  }
}
.membre-about{
  width: 50%;
  p{
    padding: 5px;
  }
}


.btn-return-to-artist{
  background-color: $red;
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  width: 300px;
  margin: 0 auto;
  &:hover{
    background-color: $black;
  }
  a{
    font-size: 1.5rem;
    &:hover{
      color: $white;
    }
  }
}

.album{
  width: 45%;
}
.info-single-album{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap:2rem;
  .album{
    width: 100%;
    height: 500px;
  }
  @include tablet{
    display: flex;
    flex-direction: column;
    .album{
      height: 300px;
    }
  }
  
  .vynil{
    width: 90%;
    background: url(../img/Vinyl-PNG-Transparent-Image.png) no-repeat center/cover;
    position: sticky;
    margin-left: -80%;
    z-index: -1;
    transition: all 0.3s ease-in-out;
    top: 80px;
    color: $black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $red;
    @include tablet{
      width: 100%;
      position: relative;
      background: url(../img/Vinyl-PNG-Transparent-Image.png) no-repeat center/cover;
      margin-left: 0;
      height: 400px;
      margin-bottom: 80px;
      .tracks-title{
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
      }
    }
  }
  .vynil-animated{
    margin-left: 0;
  }
}

.recommended-single-album{
  background-color: #dedede;
  padding: 20px;
  h2{
    text-align: center;
  }
}
.recommended-single-album-box{
  display: flex;
  gap: 1rem;
  justify-content: center;
  @include tablet {
    flex-direction: column;
    align-items: center;
  }
  //flipflop box
  a{
    border-radius: 10px;
    font-family: $title-font;
    padding: 0 8px 0 8px;
    padding-top: 8px;
    &:hover{
      background: $black;
    }
  }
  .scene {
    width:250px;
    height:250px;
    perspective: 30em;
    @include tablet {
      perspective: none;
    }
  }
  .card {
    width:100%;
    height:100%;
    position:relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    
  }
  .face {
    width:100%;
    height:100%;
    color:#FFF;
    line-height:15em;
    text-align:center;
    position:absolute;
    backface-visibility:hidden;
    @include tablet {
      transform: rotateY(180deg);
    }
  }
  
  .front {
    color: indianred;
    @include tablet {
      display: none;
    }
  }
  
  .back {
    transform: rotateY(180deg);
    @include tablet {
      transform: rotateY(0deg);
    }
  }
  .scene:hover .card {
    transform: rotateY(180deg);
    @include tablet {
      transform: rotateY(0deg);
    }
  }
  a{
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.034);
    color: $white;
  }
}

